body {
    background-color:#f5f5f5
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
    font-size:60px;
}

.footer p {
    font-size:12px;
}

input[type="text"] {
    width:400px;
    height:40px;
    border:0;
    border-radius: 5px;
    box-shadow: 7px 5px 10px rgba(0,0,0,0.3);
    padding-left:5px;
}